.common {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  background: var(--button-bg);
  color: var(--button-color);
  border: var(--border-width, 3px) solid var(--button-border);
  border-radius: var(--border-radius);
  padding: calc(var(--space) / 2) var(--space);
  margin: var(--space) 0;
  font-weight: bold;
  font-size: 1.2em;
  letter-spacing: var(--letter-space);
}

.default {
  composes: common;
  --button-color: var(--white);
  --button-bg: var(--primary);
  --button-border: var(--button-bg);
}

.default:hover {
  --button-bg: var(--button-hover);
}

.default[disabled] {
  --button-bg: var(--gray);
}

.default[disabled]:hover {
  --button-hover: var(--gray);
}

.hollow {
  composes: common;
  --button-bg: none;
  --button-color: var(--primary);
  --button-border: var(--button-color);
}

.hollow:hover {
  --button-bg: none;
  border-color: var(--button-hover);
  color: var(--button-hover);
}

.hollow[disabled] {
  --button-color: var(--gray);
  --button-hover: var(--button-color);
}
