.Button {
  --color: currentcolor;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  background: var(--primary);
  color: var(--color);
  border: var(--border-width, 3px) solid var(--color);
  border-radius: var(--border-radius);
  padding: var(--space);
  margin: var(--space) 0;
  font-weight: bold;
  font-size: 1.2em;
}
