.H1 {
  font-size: 3rem;
}

.H2 {
  font-size: 2.5rem;
}

.H3 {
  font-size: 1.94rem;
}

.H4 {
  font-size: 1.56rem;
}

.H5 {
  font-size: 1.2rem;
}

.underlined {
  padding-bottom: 0.5em;
  border-bottom: 3px solid currentColor;
}
